<script src="scripts/main.js"></script>

<div class="rectangle_1">
    <h3 class="rct1_top">Ветеринарный сервис</h3>
    <p class="rct1_bottom">Сервис поиска</p>
</div>

<div class="vector_1">
    <img class="cat" src="images/image_7.png">
    <div class="frame_132">
        <div class="f132_list_item">
            <div class="f132_list_item_top">
                <img class="f132_icon" height="27" src="images/Location.svg" width="23">
                <p class="f132_text_top" id="f132_location_text">Поиск врача рядом с вами</p>
            </div>
            <p class="gray_text">Просто укажите адрес и выбирайте</p>
        </div>
        <div class="f132_list_item">
            <div class="f132_list_item_top">
                <img class="f132_icon" height="24" src="images/Edit.svg" width="21">
                <p class="f132_text_top">Узнайте когда можно записаться к ветеринару</p>
            </div>
            <p class="gray_text">Без звонка в клинику с помощью актуального расписания</p>
        </div>
        <div class="f132_list_item">
            <div class="f132_list_item_top">
                <img class="f132_icon" height="27" src="images/Call.svg" width="27">
                <p class="f132_text_top">Проконсультируем по всем волнующим вопросам</p>
            </div>
            <p class="gray_text">Наши специалисты помогут разобраться с проблемой и проконсультируют</p>
        </div>
    </div>
    <img class="background_paw" height="56" id="background_paw_1" src="images/Group_120.svg" width="70">
    <img class="background_paw" height="90" id="background_paw_2" src="images/Group_119.svg" width="90">
</div>

<div class="rectangle_4">
    <div class="rct4_content">
        <h3 class="rct4_header">Не знаете что с вашим питомцем?</h3>
        <p class="rct4_gray_text">Наши специалисты помогут разобраться</p>
        <p class="rct4_text_bottom">Оставьте заявку на бесплатную консультацию <br> с нашими специалистами</p>
        <p class="rct4_messenger_selector_text">Выберите удобный для Вас мессенджер:</p>
        <div class="messenger_selector">
            <input type="radio" name="messenger" value="telegram">
            <img class="messenger_icon" src="images/Telegram_icon.png">
            <p class="messenger_name">Telegram</p>
            <input type="radio" name="messenger" value="whatsapp">
            <img class="messenger_icon" src="images/Whatsapp_icon.png">
            <p class="messenger_name">WhatsApp</p>
            <input type="radio" name="messenger" value="viber">
            <img class="messenger_icon" src="images/Viber_icon.png">
            <p class="messenger_name">Viber</p>
        </div>
        <form class="registration">
            <input class="reg_pole" id="reg_name" placeholder="Ваше имя" type="text">
            <input class="reg_pole" id="reg_tel" placeholder="Ваш номер телефона" type="tel">
            <input class="reg_pole" id="reg_submit" type="submit" value="Напишите мне">
        </form>
    </div>

    <img height="363" id="Dog" src="images/Dog.png" width="464">
    <form>
        <input id="rct4_close_button" src="images/close_icon.png" type="image">
    </form>

    <img class="background_paw" height="55" id="background_paw_3" src="images/Group_122.svg" width="55">
    <img class="background_paw" height="39" id="background_paw_4" src="images/Group_123.svg" width="49">
    <img class="background_paw" height="55" id="background_paw_5" src="images/Group_124.svg" width="55">
    <img class="background_paw" height="55" id="background_paw_6" src="images/Group_118.svg" width="55">
    <img class="background_paw" height="40" id="background_paw_7" src="images/Group_117.svg" width="40">
</div>

<div class="region_selector">
    <h1 class="region_selector_header">
        Каталог вет. клиник
    </h1>
    <div class="region_selector_bottom">
        <p>Район:</p>
        <button autofocus class="region_button" value="next">Центральный</button>
        <button class="region_button">Автозаводской</button>
        <button class="region_button">Комсомольский</button>
        <button class="region_button">Шлюзовой</button>
    </div>
</div>

{{#each clinics}}
    <div class="product_card">
        <img class="product_card_vertical_line" src="images/Line_10.svg">
        <div class="product_card_left">
            <div class="card_info">
                <img class="clinic_logo"
                     width="96" height="96"
                     src="{{#if image}} {{image}} {{else}} images/image_filler.svg {{/if}}">
                <div>
                    <h3 class="clinic_name">{{name}}</h3>
                    <p class="clinic_working_hours">Сегодня работают до {{labour_time}}</p>
                    <div class="clinic_rating">
                        <img height="15" id="star" src="images/Star_1.svg" width="15">
                        <p class="rating">{{rating}}</p>
                        <p class="number_of_reviews">{{comments_num}} отзывов</p>
                    </div>
                </div>
            </div>
            <div class="recommendations">
                <img height="16" id="Paw" src="images/Paw.svg" width="20">
                <p class="rec_text">{{rec_perc}}% пользователей рекомендуют клинику</p>
            </div>
            <div class="clinic_tel">
                <img class="call_icon" height="20" src="images/Call.svg" width="20">
                <p class="tel_number">{{phone}}</p>
            </div>
            <div class="clinic_location">
                <img class="location_icon" height="20" src="images/Location.svg" width="17">
                <p class="address">{{address}}</p>
            </div>
            <p class="clinic_description">{{description}}</p>
        </div>

        <div class="product_card_right">
            <img class="product_card_horizontal_line" src="images/Line_11.svg">
            <div class="product_card_right_top">
                <div class="price_list">
                    {{#each services}}
                        <div class="service">
                            <p class="name_of_service">{{@key}}</p>
                            <p class="price">{{this}}</p>
                        </div>
                    {{/each}}
                </div>
                <a href="modal" class="all_services" data-modal>Все услуги</a>
            </div>
            <div class="product_card_right_bottom">
                <p class="selector_text">Выберете день и время для записи на приём</p>
                <div class="date-time_selector">
                    <div class="date_selector">
                        <button class="date_button">Вт<br>9</button>
                        <button class="date_button">Ср<br>10</button>
                        <button autofocus class="date_button" value="next">Чт<br>11</button>
                        <button class="date_button">Пт<br>12</button>
                        <button class="date_button">Сб<br>13</button>
                        <button class="date_button">Вс<br>14</button>
                        <button class="date_button">Пн<br>15</button>
                        <input class="next_date" src="images/Frame_133.svg" type="image">
                    </div>
                    <div class="time_selector">
                        <a href="modal" class="time_button" data-modal>10:00</a>
                        <a href="modal" class="time_button" data-modal>11:00</a>
                        <a href="modal" class="time_button" data-modal>12:00</a>
                        <a href="modal" class="time_button" data-modal>13:00</a>
                        <a href="modal" class="time_button" data-modal>14:00</a>
                        <a href="modal" class="time_button" data-modal>15:00</a>
                        <a href="modal" class="time_button" data-modal>16:00</a>
                        <a href="modal" class="time_button" data-modal>17:00</a>
                        <a href="modal" class="time_button" data-modal>18:00</a>
                        <a href="modal" class="time_button" data-modal>19:00</a>
                        <a href="modal" class="time_button" data-modal>20:00</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/each}}
<!--
<div class="load_more">
    <button class="load_more_button">Загрузить еще</button>
</div>
 <div class="reg_success" >
    <img class="reg_success_paw" height="53"
         src="public/images/Paw.svg"
         width="66.5">
    <div class="reg_success_text">
        <h3 class="reg_success_text_header">
            Вы успешно записались на консультацию
        </h3>
        <p class="reg_success_text_bottom">
            В течение 10 минут наш специалист перезвонит вам
        </p>
    </div>
    <form>
        <input id="reg_success  _close_button" src="images/close_icon.png" type="image">
    </form>
</div>
-->