<script src="scripts/modal.js"></script>
{{#with data}}
    <div class="modal_window_main">
        <div class="modal_window_left">
            <div class="card_info">
                <img class="clinic_logo" height="72"
                     src="{{#if image}} {{image}} {{else}} images/image_filler.svg {{/if}}" width="72">
                <div>
                    <h3 class="clinic_name">{{name}}</h3>
                    <div class="clinic_rating">
                        <p class="rating_num">{{yandex.rating}}</p>
                        <section class="precise">
                            <div class="fill">
                                <div class="rating">
                                    <div class="bg"></div>
                                    <div class="value" style="width: {{yandex.rating_percent}}%"></div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="mobile_recommendations">
                <img height="14" id="Paw" src="images/Paw.svg" width="17">
                <p class="rec_text">{{yandex.rating_percent}}% пользователей рекомендуют клинику</p>
            </div>
            <div class="frameGeo">
                <iframe class="map" frameborder="0" src="{{yandex.map}}"></iframe>
                <div class="clinic_contacts">
                    <div class="clinic_tel_modal">
                        <p class="clinic_tel_modal_top">Телефон для записи</p>
                        <div class="clinic_tel_modal_bottom">
                            <img class="call_icon" height="20" src="images/Call.svg" width="20">
                            <a class="tel_number_modal" href="tel:{{phone}}">{{phone}}</a>
                        </div>
                    </div>
                    <div class="clinic_address_modal">
                        <p class="clinic_address_modal_top">Адрес вет.клиники</p>
                        <div class="clinic_address_modal_bottom">
                            <img class="location_icon" id="location_icon_modal" src="images/Location.svg" width="17"
                                 height="20">
                            <p class="address_modal">{{address}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <form class="slider_form_reg">
                <a class="modal_reg_header">Запись на приём</a>
                <a type="image" class="slider_icon">
                    <img src="images/Slider_icon.svg" id="slider_icon_reg">
                </a>
            </form>
            <div class="modal_registration">
                <p class="modal_reg_text">На время и дату</p>
                <div class="modal_reg_date-time">
                    <p class="modal_reg_date-time_text">Понедельник, 8 марта, с 20:00 до 21,00</p>
                    <a class="modal_reg_date-time_ref">Изменить</a>
                </div>
                <form class="modal_reg_form">
                    <div class="date-time_selector" id="date-time_selector_modal">
                        <div class="date_selector" id="date_selector_modal"></div>
                        <div class="time_selector" id="time_selector_modal"></div>
                    </div>
                    <input type="hidden" name="name" value="{{name}}">
                    <input type="text" id="reg_name_modal" class="reg_pole_modal" name="fio" placeholder="Ваше имя"
                           required>
                    <input type="tel" id="reg_tel_modal" class="reg_pole_modal" name="phone"
                           placeholder="+ 7 (9__) ___-__-__" required>
                    <input type="text" id="reg_animal_type_modal" class="reg_pole_modal" name="animal"
                           placeholder="Вид животного" required>
                    <textarea class="reg_problem_modal" id="reg_problem_modal"
                              name="comment" placeholder="Описание проблемы" required></textarea>
                    <input type="submit" class="reg_submit_modal" value="Записаться на приём">
                </form>
                <div class="reg_success_modal" style="display: none;">
                    <img height="40" id="reg_success_modal_paw" src="images/Paw.svg" width="40">
                    <p class="reg_success_modal_header">Ваша заявка успешно принята</p>
                    <p class="reg_success_modal_bottom">В течение 15 минут вам перезвонит специалист
                        для уточнения данных</p>
                    <a id="reg_success_modal_close_icon" href="#">
                        <img src="images/close_icon_2.png" width="40" height="40">
                    </a>
                </div>
            </div>
        </div>
        <div class="modal_window_right">
            <hr id="horizontal_line_mobile_4"/>
            <div class="clinic_services_modal">
                <form class="slider_form_services">
                    <a class="services_modal_header">Услуги вет. клиники</a>
                    <a type="image" class="slider_icon">
                        <img src="images/Slider_icon.svg" id="slider_icon_services">
                    </a>
                </form>
            </div>
            <div class="services_list_modal">
                {{#each services}}
                    <div class="services_list_item">
                        <div class="services_list_item_text">
                            <p class="name_of_service">{{@key}}</p>
                            <p class="price">{{this}}</p>
                        </div>
                        <img class="services_list_line" height="1" src="images/Line_11.svg" width="524">
                    </div>
                {{/each}}
            </div>
        </div>
        <a href="#" rel="modal:close" class="close-modal">
            <img src="images/close_icon.png" id="modal_close_icon" width="40" height="40">
        </a>
    </div>
    <div class="modal_reviews">
        <h3>Отзывы об этой клинике</h3>
        <iframe style="max-width: 750px;width:100%;height:800px;border:1px solid #e6e6e6;border-radius:8px;box-sizing:border-box"
                src="{{yandex.reviews}}"></iframe>
    </div>
{{/with}}